body {
  overflow-x: hidden;
  margin: 0;
  background-color: #126dd4;
  
}

.navbar, .footer{
  display: block;
  align-items: center;
  max-width: 488.5px;
  width: 50%;
  height: 60px;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  background-color: #0056b8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px black solid;
  border-top: 0px;
}

.footer{
    width: 100%;
    height: 120px;
    margin-top: 5%;
    display: flex;
}

.footer div{
  width: 50%;
  display: flex;
}

.footer button{
  background: none!important;
  border: none;
  padding: 0!important;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin: auto;
}

.navbar h3{
  text-align: center;
  margin-top: auto;
  color: white;
  padding-top: 12px;
  font-size: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 50%;
  max-width: 488.5px;
  margin: auto;
  background-color: #4b8fdd;
  border-radius: 5px;
}

.prev-next-tide{
  display: flex;
}

.currentBox{
  margin-top: 3%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  width: 40%;
}

.current-tide{
  width: 60%;
  margin: auto;
  padding-top: 10px;
}

.current-tide h2, h4{
  text-align: center;
  margin-bottom: 1%;
  margin-top: 1%;
}

.current-tide h2{
  font-weight: normal;
}

.currentBox h2, h3{
  margin-bottom: 1%;
  margin-top: 1%;
  font-weight: normal;
}

.currentBox h2{
  font-weight: normal;
}

.currentBox h1{
  margin: auto;
  width: 75%;
  margin-bottom: 2%;
  margin-top: 5%;
  font-size: 1.3em;
  font-weight: bold;
}
.button-div{
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

.button-div h2{
  font-weight: normal;
}

.pop-up{
  position: absolute;
  width: 30%;
  height: 50vh;
  background-color: gray;
  display: block;
  margin-left: 2%;
  margin-top: 5vh;
  z-index: 1;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.button-div button{
  width: 25%;
  height: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}

.extremes{
  width: 44%;
}
.extremes-Low{
  padding-right: 6%;
  border-left: 1px black solid;
}
.extremes-High{
  padding-left: 6%;
  border-right: 1px black solid;
}

.extreme-values{
  padding-top: 15%;
}

.extreme-values h4{
  font-weight: normal;
  font-size: 1.2em;
}

h4{
  text-align: center;
  margin-bottom: 1%;
  font-size: 1.1em;
}

.extreme-box{
  position: relative;
  display: flex;
  overflow: visible;
  margin-top: 10%;
  padding-bottom: 5%;
}
.tide-title{
  display: block;
  text-align: center;
  font-size: 1.6em;
  border-bottom: 2px black solid;
}

.tide-data{
  width: 75%;
  margin: auto;
}

@media screen and (max-width: 600px){
  .navbar, .footer {
    width: 99%;
    border-left: 0px;
    border-right: 0px;
  }

  .homepage-box{
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .container{
    width: 100%;
  }
  .current-box{
    margin-top: 50px;
    height: 200px;

  }

  .current-box h1{
    padding: 0;
    font-size: 5em;
    margin: 0%;
  }

  .current-box h3{
    padding-top: 7%;
    margin-bottom: 0%;
  }

  .current-box h4{
    margin: 0%;
  }

  .hourly-box{
    display: flex;
    height: 100px;
    overflow-x:scroll;
    white-space: nowrap;
  }

  .hourly-box::-webkit-scrollbar{
    display: none;
  }

  .hour-box{
    height: 80%;
    min-width: 60px;
    display: inline-block;
    border: solid black 1px;
  }
  
  .hour-box p{
    margin-top: 0;
    margin-bottom: 15%;

  }
  .weekly-box{
    height: 400px;
  }

  .day-box{
    height: 7%;
    border: solid black 1px;
    margin-bottom: 2%;
  }

  h4{
    font-size: .9em;
  }

  .prev-next-tide{
    display: flex;
  }
}